body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../手机营业厅_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:39px;
    top:59px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../手机营业厅_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:39px;
    top:59px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../手机营业厅_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:321px;
    top:64px;
    width:25px;
    height:10px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../手机营业厅_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:322px;
    top:66px;
    width:14px;
    height:6px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:12px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-5px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../手机营业厅_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:346px;
    top:67px;
    width:3px;
    height:4px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:10px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../手机营业厅_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:39px;
    top:79px;
    width:320px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../手机营业厅_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:47px;
    top:71px;
    width:2px;
    height:3px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../手机营业厅_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:51px;
    top:69px;
    width:2px;
    height:5px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../手机营业厅_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:55px;
    top:67px;
    width:2px;
    height:7px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../手机营业厅_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:59px;
    top:66px;
    width:2px;
    height:8px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:14px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../手机营业厅_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:63px;
    top:64px;
    width:2px;
    height:10px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:16px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:71px;
    top:61px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../手机营业厅_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:39px;
    top:129px;
    width:107px;
    height:72px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:78px;
}

.u24 {
    position:absolute;
    left:2px;
    top:28px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../手机营业厅_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:146px;
    top:129px;
    width:107px;
    height:72px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:78px;
}

.u26 {
    position:absolute;
    left:2px;
    top:28px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../手机营业厅_files/u23_normal.png');
}

.u27_container {
    position:absolute;
    left:252px;
    top:129px;
    width:107px;
    height:72px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:78px;
}

.u28 {
    position:absolute;
    left:2px;
    top:28px;
    width:103px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:62px;
    top:175px;
    width:81px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:173px;
    top:175px;
    width:70px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:278px;
    top:174px;
    width:81px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../手机营业厅_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:289px;
    top:139px;
    width:30px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u33 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../手机营业厅_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:71px;
    top:142px;
    width:30px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u35 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../手机营业厅_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:183px;
    top:139px;
    width:30px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../手机营业厅_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:39px;
    top:201px;
    width:106px;
    height:72px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:78px;
}

.u39 {
    position:absolute;
    left:2px;
    top:28px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:46px;
    top:251px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:77px;
    top:211px;
    width:30px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../手机营业厅_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:145px;
    top:201px;
    width:108px;
    height:72px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:78px;
}

.u44 {
    position:absolute;
    left:2px;
    top:28px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:152px;
    top:251px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u46_container {
    position:absolute;
    left:183px;
    top:211px;
    width:30px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u47 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../手机营业厅_files/u38_normal.png');
}

.u48_container {
    position:absolute;
    left:253px;
    top:201px;
    width:106px;
    height:72px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:78px;
}

.u49 {
    position:absolute;
    left:2px;
    top:28px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:260px;
    top:251px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u51_container {
    position:absolute;
    left:291px;
    top:211px;
    width:30px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../手机营业厅_files/u38_normal.png');
}

.u53_container {
    position:absolute;
    left:39px;
    top:273px;
    width:106px;
    height:72px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:78px;
}

.u54 {
    position:absolute;
    left:2px;
    top:28px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:46px;
    top:323px;
    width:92px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u56_container {
    position:absolute;
    left:77px;
    top:283px;
    width:30px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../手机营业厅_files/u43_normal.png');
}

.u58_container {
    position:absolute;
    left:145px;
    top:273px;
    width:108px;
    height:72px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:78px;
}

.u59 {
    position:absolute;
    left:2px;
    top:28px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:152px;
    top:323px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u61_container {
    position:absolute;
    left:183px;
    top:283px;
    width:30px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../手机营业厅_files/u38_normal.png');
}

.u63_container {
    position:absolute;
    left:253px;
    top:273px;
    width:106px;
    height:72px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:78px;
}

.u64 {
    position:absolute;
    left:2px;
    top:28px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:260px;
    top:323px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u66_container {
    position:absolute;
    left:291px;
    top:283px;
    width:30px;
    height:30px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u67 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../手机营业厅_files/u38_normal.png');
}

.u68_container {
    position:absolute;
    left:39px;
    top:345px;
    width:106px;
    height:72px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:78px;
}

.u69 {
    position:absolute;
    left:2px;
    top:28px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:46px;
    top:395px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u71_container {
    position:absolute;
    left:77px;
    top:355px;
    width:30px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../手机营业厅_files/u43_normal.png');
}

.u73_container {
    position:absolute;
    left:145px;
    top:345px;
    width:108px;
    height:72px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:78px;
}

.u74 {
    position:absolute;
    left:2px;
    top:28px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:152px;
    top:395px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u76_container {
    position:absolute;
    left:183px;
    top:355px;
    width:30px;
    height:30px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u77 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../手机营业厅_files/u38_normal.png');
}

.u78_container {
    position:absolute;
    left:253px;
    top:345px;
    width:106px;
    height:72px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:112px;
    height:78px;
}

.u79 {
    position:absolute;
    left:2px;
    top:28px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:260px;
    top:395px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../手机营业厅_files/u41_normal.png');
}

.u81_container {
    position:absolute;
    left:291px;
    top:355px;
    width:30px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u82 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../手机营业厅_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:279px;
    top:489px;
    width:80px;
    height:50px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u84 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../手机营业厅_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:119px;
    top:489px;
    width:80px;
    height:50px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u86 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../手机营业厅_files/u85_normal.png');
}

.u87_container {
    position:absolute;
    left:199px;
    top:489px;
    width:80px;
    height:50px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u88 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../手机营业厅_files/u85_normal.png');
}

.u89_container {
    position:absolute;
    left:39px;
    top:489px;
    width:80px;
    height:50px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u90 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:305px;
    top:521px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:145px;
    top:521px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:225px;
    top:521px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:63px;
    top:521px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../手机营业厅_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:227px;
    top:492px;
    width:26px;
    height:26px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../手机营业厅_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:143px;
    top:492px;
    width:30px;
    height:30px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u98 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../手机营业厅_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:61px;
    top:490px;
    width:30px;
    height:30px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u100 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../手机营业厅_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:307px;
    top:492px;
    width:26px;
    height:26px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../手机营业厅_files/u0_normal.png');
}

.u103_container {
    position:absolute;
    left:406px;
    top:59px;
    width:320px;
    height:480px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u104 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../手机营业厅_files/u2_normal.png');
}

.u105_container {
    position:absolute;
    left:406px;
    top:59px;
    width:320px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../手机营业厅_files/u4_normal.png');
}

.u107_container {
    position:absolute;
    left:688px;
    top:64px;
    width:25px;
    height:10px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u108 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../手机营业厅_files/u6_normal.png');
}

.u109_container {
    position:absolute;
    left:689px;
    top:66px;
    width:14px;
    height:6px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:12px;
}

.u110 {
    position:absolute;
    left:2px;
    top:-5px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../手机营业厅_files/u8_normal.png');
}

.u111_container {
    position:absolute;
    left:713px;
    top:67px;
    width:3px;
    height:4px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:10px;
}

.u112 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../手机营业厅_files/u10_normal.png');
}

.u113_container {
    position:absolute;
    left:406px;
    top:79px;
    width:320px;
    height:50px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u114 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../手机营业厅_files/u12_normal.png');
}

.u115_container {
    position:absolute;
    left:414px;
    top:71px;
    width:2px;
    height:3px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u116 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../手机营业厅_files/u14_normal.png');
}

.u117_container {
    position:absolute;
    left:418px;
    top:69px;
    width:2px;
    height:5px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u118 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../手机营业厅_files/u16_normal.png');
}

.u119_container {
    position:absolute;
    left:422px;
    top:67px;
    width:2px;
    height:7px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u120 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../手机营业厅_files/u18_normal.png');
}

.u121_container {
    position:absolute;
    left:426px;
    top:66px;
    width:2px;
    height:8px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:14px;
}

.u122 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../手机营业厅_files/u20_normal.png');
}

.u123_container {
    position:absolute;
    left:430px;
    top:64px;
    width:2px;
    height:10px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:16px;
}

.u124 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:438px;
    top:61px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../手机营业厅_files/u83_normal.png');
}

.u126_container {
    position:absolute;
    left:646px;
    top:489px;
    width:80px;
    height:50px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u127 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../手机营业厅_files/u85_normal.png');
}

.u128_container {
    position:absolute;
    left:486px;
    top:489px;
    width:80px;
    height:50px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u129 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../手机营业厅_files/u85_normal.png');
}

.u130_container {
    position:absolute;
    left:566px;
    top:489px;
    width:80px;
    height:50px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u131 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../手机营业厅_files/u85_normal.png');
}

.u132_container {
    position:absolute;
    left:406px;
    top:489px;
    width:80px;
    height:50px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:56px;
}

.u133 {
    position:absolute;
    left:2px;
    top:17px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:672px;
    top:521px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:512px;
    top:521px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:592px;
    top:521px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:430px;
    top:521px;
    width:32px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../手机营业厅_files/u95_normal.png');
}

.u138_container {
    position:absolute;
    left:594px;
    top:492px;
    width:26px;
    height:26px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u139 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../手机营业厅_files/u97_normal.png');
}

.u140_container {
    position:absolute;
    left:510px;
    top:492px;
    width:30px;
    height:30px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u141 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../手机营业厅_files/u99_normal.png');
}

.u142_container {
    position:absolute;
    left:428px;
    top:490px;
    width:30px;
    height:30px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u143 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../手机营业厅_files/u101_normal.png');
}

.u144_container {
    position:absolute;
    left:674px;
    top:492px;
    width:26px;
    height:26px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u145 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../手机营业厅_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:406px;
    top:129px;
    width:320px;
    height:360px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:366px;
}

.u147 {
    position:absolute;
    left:2px;
    top:172px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../手机营业厅_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:183px;
    top:218px;
    width:223px;
    height:45px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:45px;
}

.u149 {
    position:absolute;
    left:2px;
    top:14px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

