body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../群位置（暂定）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:23px;
    top:84px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../群位置（暂定）_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:23px;
    top:84px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../群位置（暂定）_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:305px;
    top:89px;
    width:25px;
    height:10px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../群位置（暂定）_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:306px;
    top:91px;
    width:14px;
    height:6px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:12px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-5px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../群位置（暂定）_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:330px;
    top:92px;
    width:3px;
    height:4px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:10px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../群位置（暂定）_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:23px;
    top:104px;
    width:320px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../群位置（暂定）_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:31px;
    top:96px;
    width:2px;
    height:3px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../群位置（暂定）_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:35px;
    top:94px;
    width:2px;
    height:5px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../群位置（暂定）_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:39px;
    top:92px;
    width:2px;
    height:7px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../群位置（暂定）_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:43px;
    top:91px;
    width:2px;
    height:8px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:14px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../群位置（暂定）_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:47px;
    top:89px;
    width:2px;
    height:10px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:16px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:55px;
    top:86px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../群位置（暂定）_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:23px;
    top:38px;
    width:318px;
    height:26px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:324px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:5px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../群位置（暂定）_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:34px;
    top:115px;
    width:30px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../群位置（暂定）_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:172px;
    top:287px;
    width:21px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:119px;
    top:328px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../群位置（暂定）_files/u2_normal.png');
}

.u30_container {
    position:absolute;
    left:440px;
    top:84px;
    width:320px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../群位置（暂定）_files/u4_normal.png');
}

.u32_container {
    position:absolute;
    left:722px;
    top:89px;
    width:25px;
    height:10px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../群位置（暂定）_files/u6_normal.png');
}

.u34_container {
    position:absolute;
    left:723px;
    top:91px;
    width:14px;
    height:6px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:12px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-5px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../群位置（暂定）_files/u8_normal.png');
}

.u36_container {
    position:absolute;
    left:747px;
    top:92px;
    width:3px;
    height:4px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:10px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../群位置（暂定）_files/u10_normal.png');
}

.u38_container {
    position:absolute;
    left:440px;
    top:104px;
    width:320px;
    height:50px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u39 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../群位置（暂定）_files/u12_normal.png');
}

.u40_container {
    position:absolute;
    left:448px;
    top:96px;
    width:2px;
    height:3px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../群位置（暂定）_files/u14_normal.png');
}

.u42_container {
    position:absolute;
    left:452px;
    top:94px;
    width:2px;
    height:5px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../群位置（暂定）_files/u16_normal.png');
}

.u44_container {
    position:absolute;
    left:456px;
    top:92px;
    width:2px;
    height:7px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../群位置（暂定）_files/u18_normal.png');
}

.u46_container {
    position:absolute;
    left:460px;
    top:91px;
    width:2px;
    height:8px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:14px;
}

.u47 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../群位置（暂定）_files/u20_normal.png');
}

.u48_container {
    position:absolute;
    left:464px;
    top:89px;
    width:2px;
    height:10px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:472px;
    top:86px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../群位置（暂定）_files/u23_normal.png');
}

.u51_container {
    position:absolute;
    left:440px;
    top:38px;
    width:318px;
    height:26px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:324px;
    height:32px;
}

.u52 {
    position:absolute;
    left:2px;
    top:5px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../群位置（暂定）_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:440px;
    top:307px;
    width:320px;
    height:43px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u54 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../群位置（暂定）_files/u53_normal.png');
}

.u55_container {
    position:absolute;
    left:440px;
    top:349px;
    width:320px;
    height:43px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u56 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../群位置（暂定）_files/u53_normal.png');
}

.u57_container {
    position:absolute;
    left:440px;
    top:391px;
    width:320px;
    height:43px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u58 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../群位置（暂定）_files/u53_normal.png');
}

.u59_container {
    position:absolute;
    left:440px;
    top:433px;
    width:320px;
    height:43px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u60 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../群位置（暂定）_files/u53_normal.png');
}

.u61_container {
    position:absolute;
    left:440px;
    top:475px;
    width:320px;
    height:43px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u62 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../群位置（暂定）_files/u25_normal.png');
}

.u63_container {
    position:absolute;
    left:456px;
    top:115px;
    width:30px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../群位置（暂定）_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:440px;
    top:154px;
    width:320px;
    height:153px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:159px;
}

.u66 {
    position:absolute;
    left:2px;
    top:68px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../群位置（暂定）_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:440px;
    top:518px;
    width:320px;
    height:46px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:52px;
}

.u68 {
    position:absolute;
    left:2px;
    top:15px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../群位置（暂定）_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:451px;
    top:360px;
    width:20px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../群位置（暂定）_files/u69_normal.png');
}

.u71_container {
    position:absolute;
    left:451px;
    top:402px;
    width:20px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../群位置（暂定）_files/u69_normal.png');
}

.u73_container {
    position:absolute;
    left:451px;
    top:445px;
    width:20px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../群位置（暂定）_files/u69_normal.png');
}

.u75_container {
    position:absolute;
    left:451px;
    top:486px;
    width:20px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../群位置（暂定）_files/u69_normal.png');
}

.u77_container {
    position:absolute;
    left:451px;
    top:528px;
    width:20px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:481px;
    top:355px;
    width:106px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:480px;
    top:376px;
    width:161px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:482px;
    top:397px;
    width:106px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:481px;
    top:418px;
    width:161px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:483px;
    top:440px;
    width:106px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:482px;
    top:461px;
    width:161px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:482px;
    top:482px;
    width:106px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:481px;
    top:503px;
    width:161px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:482px;
    top:524px;
    width:106px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:481px;
    top:545px;
    width:161px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../群位置（暂定）_files/u0_normal.png');
}

.u89_container {
    position:absolute;
    left:857px;
    top:84px;
    width:320px;
    height:480px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u90 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../群位置（暂定）_files/u2_normal.png');
}

.u91_container {
    position:absolute;
    left:857px;
    top:84px;
    width:320px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../群位置（暂定）_files/u4_normal.png');
}

.u93_container {
    position:absolute;
    left:1139px;
    top:89px;
    width:25px;
    height:10px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u94 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../群位置（暂定）_files/u6_normal.png');
}

.u95_container {
    position:absolute;
    left:1140px;
    top:91px;
    width:14px;
    height:6px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:12px;
}

.u96 {
    position:absolute;
    left:2px;
    top:-5px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../群位置（暂定）_files/u8_normal.png');
}

.u97_container {
    position:absolute;
    left:1164px;
    top:92px;
    width:3px;
    height:4px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:10px;
}

.u98 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../群位置（暂定）_files/u10_normal.png');
}

.u99_container {
    position:absolute;
    left:857px;
    top:104px;
    width:320px;
    height:50px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u100 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../群位置（暂定）_files/u12_normal.png');
}

.u101_container {
    position:absolute;
    left:865px;
    top:96px;
    width:2px;
    height:3px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u102 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../群位置（暂定）_files/u14_normal.png');
}

.u103_container {
    position:absolute;
    left:869px;
    top:94px;
    width:2px;
    height:5px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u104 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../群位置（暂定）_files/u16_normal.png');
}

.u105_container {
    position:absolute;
    left:873px;
    top:92px;
    width:2px;
    height:7px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u106 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../群位置（暂定）_files/u18_normal.png');
}

.u107_container {
    position:absolute;
    left:877px;
    top:91px;
    width:2px;
    height:8px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:14px;
}

.u108 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../群位置（暂定）_files/u20_normal.png');
}

.u109_container {
    position:absolute;
    left:881px;
    top:89px;
    width:2px;
    height:10px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:16px;
}

.u110 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:889px;
    top:86px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../群位置（暂定）_files/u23_normal.png');
}

.u112_container {
    position:absolute;
    left:857px;
    top:38px;
    width:318px;
    height:26px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:324px;
    height:32px;
}

.u113 {
    position:absolute;
    left:2px;
    top:5px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../群位置（暂定）_files/u25_normal.png');
}

.u114_container {
    position:absolute;
    left:868px;
    top:115px;
    width:30px;
    height:30px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u115 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../群位置（暂定）_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:947px;
    top:260px;
    width:140px;
    height:80px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:86px;
}

.u117 {
    position:absolute;
    left:2px;
    top:32px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../群位置（暂定）_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:996px;
    top:270px;
    width:38px;
    height:37px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:43px;
}

.u119 {
    position:absolute;
    left:2px;
    top:10px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../群位置（暂定）_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:1002px;
    top:277px;
    width:26px;
    height:26px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:26px;
}

.u121 {
    position:absolute;
    left:2px;
    top:5px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:961px;
    top:318px;
    width:119px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../群位置（暂定）_files/u69_normal.png');
}

.u123_container {
    position:absolute;
    left:451px;
    top:318px;
    width:20px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:481px;
    top:313px;
    width:106px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:480px;
    top:334px;
    width:161px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../群位置（暂定）_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:440px;
    top:564px;
    width:320px;
    height:33px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:39px;
}

.u128 {
    position:absolute;
    left:2px;
    top:8px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:579px;
    top:574px;
    width:63px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

