body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../群动态_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:17px;
    top:70px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:486px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../群动态_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:17px;
    top:70px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../群动态_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:299px;
    top:75px;
    width:25px;
    height:10px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:16px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-3px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../群动态_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:300px;
    top:77px;
    width:14px;
    height:6px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:12px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-5px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../群动态_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:324px;
    top:78px;
    width:3px;
    height:4px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:9px;
    height:10px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../群动态_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:17px;
    top:90px;
    width:320px;
    height:50px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u11 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../群动态_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:25px;
    top:82px;
    width:2px;
    height:3px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../群动态_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:29px;
    top:80px;
    width:2px;
    height:5px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u15 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../群动态_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:33px;
    top:78px;
    width:2px;
    height:7px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../群动态_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:37px;
    top:77px;
    width:2px;
    height:8px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:14px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../群动态_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:41px;
    top:75px;
    width:2px;
    height:10px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:16px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-3px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:49px;
    top:72px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../群动态_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:19px;
    top:22px;
    width:318px;
    height:26px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:324px;
    height:32px;
}

.u24 {
    position:absolute;
    left:2px;
    top:5px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../群动态_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:29px;
    top:102px;
    width:30px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../群动态_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:17px;
    top:140px;
    width:320px;
    height:175px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:181px;
}

.u28 {
    position:absolute;
    left:2px;
    top:80px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../群动态_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:17px;
    top:315px;
    width:320px;
    height:80px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u30 {
    position:absolute;
    left:2px;
    top:32px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:119px;
    top:346px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../群动态_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:33px;
    top:333px;
    width:39px;
    height:39px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:45px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../群动态_files/u29_normal.png');
}

.u34_container {
    position:absolute;
    left:17px;
    top:393px;
    width:320px;
    height:80px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:86px;
}

.u35 {
    position:absolute;
    left:2px;
    top:32px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:119px;
    top:424px;
    width:92px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../群动态_files/u32_normal.png');
}

.u37_container {
    position:absolute;
    left:33px;
    top:411px;
    width:39px;
    height:39px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:45px;
    height:45px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

